{
  "youtube_url": "https://www.youtube.com/@thehof.talesrunner",
  "telegram_token": "",
  "telegram_chat_id": "",
  "telegram_enabled": false,
  "scan_interval": 10.0,
  "regex_pattern": "\\b(?=[A-Z0-9]*[A-Z])(?=[A-Z0-9]*[0-9])[A-Z0-9]{8,24}\\b",
  "history_file": "ocr_history.json",
  "ytdl_path_mac": "/opt/homebrew/bin/yt-dlp",
  "ytdl_path_win": "%LOCALAPPDATA%\\Programs\\Python\\Python311\\Scripts\\yt-dlp.exe",
  "ytdl_path_linux": "yt-dlp",
  "ffmpeg_path_mac": "/opt/homebrew/bin/ffmpeg",
  "ffmpeg_path_win": "%LOCALAPPDATA%\\Microsoft\\WinGet\\Packages\\Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe\\ffmpeg-8.1.1-full_build\\bin\\ffmpeg.exe",
  "ffmpeg_path_linux": "ffmpeg",
  "ocr_helper_path_mac": "./ocr_helper",
  "ocr_helper_path_win": "%USERPROFILE%\\Documents\\equality-itemcode-version\\ocr_helper.ps1",
  "ocr_helper_path_linux": "tesseract",
  "username": "YOUR_HOF_USERNAME",
  "password": "YOUR_HOF_PASSWORD",
  "username2": "YOUR_SECONDARY_HOF_USERNAME",
  "password2": "YOUR_SECONDARY_HOF_PASSWORD",
  "browser_redeem_enabled": true,
  "browser_redeem_headless": true,
  "game_id": "ece25107-ec4f-4c83-9f2b-38afd0e77cc2",
  "proxy_url": "",
  "ytdl_cookies_from_browser": "",
  "ytdl_cookies_file": ""
}
